@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


html{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    overflow: hidden;
}
.row1{
    /* height: 10%; */
    width: 100%;
}
.row2{
    height: 90%;
    width: 100%;
}
nav {
  /* margin-top: 3%; */
    /* margin-top: 10px; */
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    float: right;
    background-color: rgb(34, 14, 53);
    margin-top: 1%;
    width: 100%;
    padding: 15px 10px 15px 5px;
    text-align: right;
    align-items: center;

  }
  a {
    font-weight: bold;
    font-size: 1.2rem;
      text-align: right;
      border-bottom: 0px solid transparent;
      color: rgb(188, 166, 202);
      margin-right: 14px;
      font-size: 15px;
      text-decoration: none;
  }
  a:hover,
  a:focus {
    color: rgb(91, 156, 22);
  }

  .home{
    color: rgba(226, 200, 255, 0.342);
  }
  .home:hover{
    color: rgba(226, 200, 255, 0.342);
  }
  .container{
    margin-right: 10px;
  }


table,
th,
td {
    font-family: 'Arial', cursive;
    align-items: center;
    text-align: center;
    /* flex-flow: column; */
    /* justify-content: center; */
    font-size: 1.3rem;
    border-radius: 1px;
    width: 50%;
    background-color: rgba(47, 40, 70, 0.418);
}

th,
td {
    padding: 15px;
    width: 30%;
    color: rgb(235, 227, 253);
}
table{
  /* padding: 10%; */
  /* margin-top: 20%; */
  height: 70vh;
}
table.center {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    background-color: black;
    
}