@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


html{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    overflow: hidden;
}
.row1{
    /* height: 10%; */
    width: 100%;
}
.row2{
    height: 90%;
    width: 100%;
}
nav {
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    float: right;
    background-color: rgb(34, 14, 53);
    margin-top: 1%;
    color: bisque;
    width: 100%;
    padding: 15px 10px 15px 5px;
    text-align: right;
    align-items: center;

  }
  a {
    font-weight: bold;
    font-size: 1.2rem;
      text-align: right;
      border-bottom: 0px solid transparent;
      color: rgb(188, 166, 202);
      
      text-decoration: none;
      margin-right: 14px;

      font-size: 15px;
  }
  a:hover,
  a:focus {
    color: rgb(91, 156, 22);
  }
  .container{
    margin-right: 10px;
  }

  .home{
    color: rgba(226, 200, 255, 0.342);
  }
  .home:hover{
    color: rgba(226, 200, 255, 0.342);
  }